.contact {
  -moz-column-gap: 20rem;
  column-gap: 20rem;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.contact__description {
  font-size: var(--font-size-20);
  line-height: 1.9;
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
}

.contact__social:hover {
  transform: scale(1.2);
}

html:has(.toggle__checkbox:checked) .contact__social img {
  -webkit-filter: invert(28%) sepia(98%) saturate(1838%) hue-rotate(150deg) brightness(99%) contrast(91%);
  filter: invert(28%) sepia(98%) saturate(1838%) hue-rotate(150deg) brightness(99%) contrast(91%);
}

.contact__inputs {
  display: flex;
  gap: 3rem;
}

.contact__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
}

html:has(.toggle__checkbox:checked) .contact__input {
  color: var(--color-white);

}

.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
  cursor: pointer;
}

.contact form:invalid::after {
  content: "*";
  font-size: var(--font-size-38);
  color: var(--color-red);
}