.header {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: calc(100vw - 16.1px);
  border-bottom: 0.1rem solid var(--color-input-border);
  background-color: var(--color-background);
  top: 0.1rem;
}

.navigation__list {
  display: flex;
  gap: 2rem;
}

.navigation__link:visited,
.navigation__link:link {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.navigation__link:active,
.navigation__link:hover {
  text-decoration: underline;
  color: var(--color-text);
}


.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#projects:target) .navigation__projects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.toggle__title {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
}

.toggle__label {
  display: block;
  position: relative;
  padding: 0.3rem 0.4rem;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.toggle__label::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--color-white);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.toggle__checkbox {
  display: none;
}

.toggle__checkbox:checked+.toggle__label {
  background-color: var(--color-white);
}

.toggle__checkbox:checked+.toggle__label::after {
  background-color: var(--color-green);
  transform: translateX(2.1rem);
}