.burger-menu,
.burger-menu__checkbox {
  display: none;
}

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 800px) {
  .container {
    row-gap: 8rem;
  }

  .section {
    grid-template-columns: 1fr;
  }

  .bio__img {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }

  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__main {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    justify-items: center;
  }

  .project-data {
    grid-template-columns: 1fr;
  }

  .project-data:nth-of-type(2) .project-details {
    order: 2;
  }

  .clients__review {
    font-size: var(--font-size-24);
  }

  .contact {
    row-gap: 6rem;
  }

  .contact__formContent {
    order: -1;
  }
}

@media (max-width: 500px) {
  .bio__pic {
    width: 100%;
  }


  .header {
    padding: 0;
  }

  .header::before {
    z-index: 0;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 0;
    align-self: center;
    cursor: pointer;
  }

  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
    -webkit-transition: var(--transition-timing);
    -moz-transition: var(--transition-timing);
    -ms-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
  }

  .burger-menu__checkbox:checked+.navigation {
    top: 100%;
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
    -webkit-transform: translateY(10px) rotate(40deg);
    -moz-transform: translateY(10px) rotate(40deg);
    -ms-transform: translateY(10px) rotate(40deg);
    -o-transform: translateY(10px) rotate(40deg);
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
    -webkit-transform: translateY(-7px) rotate(-40deg);
    -moz-transform: translateY(-7px) rotate(-40deg);
    -ms-transform: translateY(-7px) rotate(-40deg);
    -o-transform: translateY(-7px) rotate(-40deg);
  }

  .navigation {
    position: absolute;
    padding: 3rem 0;
    top: 0;
    border-bottom: 0.1rem solid var(--color-text);
    background-color: var(--color-background);
    z-index: -1;
    width: 100vw;
    transition: var(--transition-timing);
    -webkit-transition: var(--transition-timing);
    -moz-transition: var(--transition-timing);
    -ms-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
  }

  .navigation__list {
    justify-content: center;
  }

  .toggle {
    padding: 3rem 0;
    z-index: 1;
  }
}